<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/formStyle.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<script>
	$(function() {
		var reloading = sessionStorage.getItem("reloading");
			$('input').each(function() {
				if ($(this).val() == '') {
					this.focus();
					return false;
				}
			});
		sessionStorage.clear();
	});
</script>

<title>Race Generator</title>
</head>
<body>
	<script th:inline="javascript">
		/* 	$('body')
					.on(
							'keydown',
							'input, select, textarea',
							function(e) {
								var self = $(this), form = self
										.parents('form:eq(0)'), focusable, next;
								if (e.keyCode == 13) {
									focusable = form.find(
											'input,a,select,button,textarea')
											.filter(':visible');
									next = focusable.eq(focusable.index(this) + 2);
									if (next.length) {
										next.focus();
									} else {
										form.submit();
									}
									return false;
								}
							}); */
		$('body')
				.on(
						'keydown',
						'input, button',
						function(e) {

							var self = $(this), form = self
									.parents('table:eq(0)'), focusable, next;
							if (e.keyCode == 13) {
								focusable = form.find('input, button').filter(
										':visible');
								var index = focusable.index(this);
								next = focusable.eq(index + 1);
								if (next.length) {
									sessionStorage.setItem("reloading", "true");
									if (next.is("button")) {
										next = focusable.eq(index + 2);
										if (next.is("button")) {
											next.click();
										}
									}
									next.focus();
								} else {
									form.submit();
								}
								return false;
							}
						});
	</script>

	<div class="container">

		<h3>Race Generator</h3>
		<hr>

		<form action="#" th:action="@{/form}" th:object="${configuration}"
			method="POST">
			<table class="table table-bordered table-striped mytable d-inline">
				<thead class="thead-dark">
					<tr>
						<th id="thKart" colspan="2">Nazwy kartów</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="kart, kartStat : *{karts}">
						<td><input type="text"
							th:field="*{karts[__${kartStat.index}__]}" placeholder="kart">
						</td>
						<td>
							<button type="submit" name="deleteKart"
								th:value="${kartStat.index}" class="btn btn-outline-dark">
								<i class="fa fas fa-trash"></i>
							</button>
						</td>
					<tr>
					<tr>
						<td>
							<button type="submit" name="addKart" class="btn btn-outline-dark"
								id="add">
								<i class="fa fas fa-plus submits"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<span th:if="${#fields.hasErrors('karts')}" th:errors="*{karts}"></span>
			<th:block th:each="group, groupStat : *{groups}">
				<table class="table table-bordered table-striped mytable d-inline">
					<thead class="thead-dark">
						<tr>
							<th><input type="text"
								th:field="*{groups[__${groupStat.index}__].name}"></th>
							<th>
								<button type="submit" name="deleteGroup"
									th:value="${groupStat.index}" class="btn btn-dark">
									<i class="fa fas fa-trash"></i>
								</button>
							</th>
						</tr>

					</thead>
					<tbody>
						<tr
							th:each="driver, driverStat : *{groups[__${groupStat.index}__].drivers}">
							<td><input type="text"
								th:field="*{groups[__${groupStat.index}__].drivers[__${driverStat.index}__].name}"
								placeholder="kierowca"></td>
							<td>
								<button type="submit"
									th:formaction="@{/form/delete(groupId=${groupStat.index}, driverId=${driverStat.index})}"
									class="btn btn-outline-dark">
									<i class="fa fas fa-trash"></i>
								</button>
							</td>
						</tr>
						<tr>
							<td>
								<button type="submit" name="addDriver"
									th:value="${groupStat.index}" class="btn btn-outline-dark">
									<i class="fa fas fa-plus"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</th:block>
			<span th:if="${#fields.hasErrors('groups')}" th:errors="*{groups}"></span>
			<button type="submit" name="addGroup" class="btn btn-outline-dark">
				<i class="fa fas fa-plus"></i> Dodaj grupę
			</button>
			<hr>

			<input type="text" th:field="*{stints}" placeholder="ilość stintów">
			<span th:if="${#fields.hasErrors('stints')}" th:errors="*{stints}"></span>

			<button type="submit">Losuj</button>
		</form>


	</div>
</body>
</html>